@model IEnumerable<Person>   //use for just type safe
<!DOCTYPE html>
<html>
<head>
   @*  <title>@ViewData["appTitle"]</title> *@
    <title>@ViewBag.appTitle</title>    
    @* ViewBag gives better way to access controller data if data is not there it will give null*@
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>Welcome</h1>
        @{
         //   List<Person>? people = (List<Person>?)ViewData["people"];
        }
       @*  @foreach (Person person in people) *@  

     @*    @foreach (Person person in ViewBag.people) *@
        @foreach (Person person in Model) 
        {
            <div class="box float-left w-50">
                <h3>@person.PersonName</h3>
                <table class="table w-100">
                    <tbody> 
                        <tr>
                            <td>Gender</td>
                            <td>@person.PersonGender</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                           @*  <td>@person.DateOfBirth.Value.ToString("MM/dd/yyyy")</td> *@
                             <td>@person.DateOfBirth?.ToString("MM/dd/yyyy")</td> 
                        </tr>
                    </tbody>
                </table>
                <div>
                    <a href="/person/@person.PersonName">Details</a>
                </div>
            </div>
        }
        <div>
            <a href="/person-with-product">Person with Product</a>
        </div>
    </div>


</body>
</html>